@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --light-pink: hsl(275, 100%, 97%);
  --grayish-purple: hsl(292, 16%, 49%);
  --dark-purple: hsl(292, 42%, 14%);
  --dark-pink: #F72CA6;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-pink);
  position: absolute;
  min-height: 100vh;
}

body::after {
  position: absolute;
  content: "";
  background: url("./assets/images/background-pattern-mobile.svg") no-repeat;
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  height: 33vh;
  z-index: 44;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  width: clamp(300px, 90%, 600px);
  position: relative;
  z-index: 444;
  background: var(--white);
  border-radius: 10px;
  box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.2);
  gap: 1rem;
  padding: 1.5rem;
}

h1 {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: clamp(1.9rem, 2.5vw + 5px, 2.6rem);
}
h2 {
  font-size: clamp(1rem, 1.3vw + 5px, 1.12rem);
}

.accordian--wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  gap: 1rem;
}
.accordian {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--light-pink);
  gap: 12px;
}
.answer {
  font-weight: 400;
  color: var(--grayish-purple);
  font-size: clamp(0.85rem, 1vw + 5px, 0.95rem);
  height: 0px;
  transform: scaleY(0);
}
.btn {
  border: none;
  outline: none;
  background: var(--dark-pink);
  color: var(--white);
  border-radius: 50%;
  padding: 4px 5.5px;
  font-size: clamp(0.65rem, 1vw + 3px, 0.8rem);
}
.btn.active {
  background: var(--dark-purple);
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answer.show {
  transform: scaleY(1);
  height: fit-content;
}

@media Screen and (min-width: 700px) {
  body::after {
    background: url("./assets/images/background-pattern-desktop.svg") no-repeat;
    background-size: cover;
  }
}

@media (hover: hover) {
  .btn {
    cursor: pointer;
    transition: 0.3s linear;
  }
  .btn:hover {
    color: #000;
  }
  .question {
    cursor: pointer;
    transition: 0.3s linear;
  }
  .question:hover {
    color: var(--dark-pink);
  }
}
